html, body {
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  font-family:sans-serif;
}


.desk {
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background-color:#EEE;
}
  .desk .container {
    width:94%;
    height:100vh;
    max-width:700px;
    margin:0 auto;
    padding-top:10vh;
    position:relative;
    z-index:2;
  }
    .container h1 {
      position:absolute;
      bottom:92vh;
      font-weight:500;
      letter-spacing:2px;
      padding:0;
      margin:0;
    }
      h1 span {
        font-size:12px;
        display:inline-block;
        margin-left:20px;
        vertical-align:middle;
        letter-spacing:1px;
        color:#ff6600;
        cursor:pointer;
        text-shadow:0 1px 2px #EE5500;
        opacity:.6;
      }
        h1 span:hover {
          opacity:1;
        }
    .ui-block {
      background-color:rgba(255, 255, 255, 0.95);
      box-shadow:0 5px 5px #CCC;
      position:absolute;
      width:100%;
    }
    .ui-block.range {
      height:50vh;
      bottom:35vh;
    }
    .ui-block.bio {
      height:20vh;
      bottom:12vh;
    }
      .bio img {
        padding:0;
        margin:0 20px 0 0;
        float:left;
      }
      .bio .text {
        float:left;
        overflow:auto;
      }
        .text p {
          margin-bottom:0;
        }
      .ui-block > div {
        margin:20px;
        overflow:hidden;
      }
      .ui-block.range > div {
        height:inherit;
        margin:0;
        overflow:hidden;
      }
      .ui-block.range > .tab {
        position:absolute;
        top:-34px;
        text-align:center;
        font-size:12px;
        height:14px;
        width:80px;
        padding:10px;
        background-color:white;
        color:#AAA;
        cursor:pointer;
        box-shadow:0 2px 5px #AAA;
        z-index:-1;
      }
      .ui-block.range > .tab:hover {
        color:#777;
      }
      .ui-block.range > .tab.active {
        cursor:default;
        color:#333;
        font-weight:900;
      }
      .ui-block.range > .tab:nth-of-type(1) {
        left:10px;
      }
      .ui-block.range > .tab:nth-of-type(2) {
        left:115px;
      }
      .ui-block.range > .tab:nth-of-type(3) {
        left:220px;
      }
      .ui-block.range > .tab:nth-of-type(4) {
        left:325px;
      }
      .ui-block .remove-icon {
        display:inline-block;
        cursor:pointer;
        position:absolute;
        left:0;
        top:0;
      }
      .ui-block .range {
        overflow:hidden;
        position:relative;
        margin:0 20px;
      }
      
      .ui-block h3 {
        font-weight:500;
        font-size:16px;
        margin:10px 0 0 0;
        text-decoration:none;
        text-align:center;
      }
      .ui-block canvas {
        width:100%;
      }
      .ui-block .value-description {
        text-align:center;
      }
 
.screen {
  position:fixed;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index:100;
  background-color:rgba(20, 20, 20, .7);
}
  .screen .container {
    width:80%;
    max-width:600px;
    background-color:white;
    margin:10vh auto 0;
    height:80vh;
    overflow:auto;
    box-shadow:0 2px 10px #111;
    border-radius:10px;
    position:relative;
  }
    .container h2 {
      font-weight:500;
      text-align:center;
    }
    .container .item {
      margin:20px;
      padding:10px;
      min-width:70px;
      width:20%;
      float:left;
      border:1px solid #AAA;
      box-shadow:0 2px 5px #333;
      position:relative;
      top:0;
      transition:top .2s;
      cursor:pointer;
    }
    .container .item:hover {
      top:5px;
    }
      .item img {
        width:100%;
      }
      .item p {
        text-align:center;
        margin:0;
        padding:0;
      }
    .container .button {
      padding:10px 20px;
      position:absolute;
      bottom:20px;
      right:20px;
      border:1px solid #AAA;
      box-shadow:0 2px 6px #333;
      cursor:pointer;
      background-color:white;
      transition:all .2s;
    }
    .container .button:hover {
      background-color:#CCC;
    }

.decor {
  position:fixed;
  transition:all .5s;
  z-index:1;
}
   
.closed {
  padding:0;
  height:0;
}


@media(max-width: 400px) {
  .ui-block.range > .tab {
    width:50px;
    font-size:8px;
  }
  .ui-block.range > .tab:nth-of-type(1) {
    left:10px;
  }
  .ui-block.range > .tab:nth-of-type(2) {
    left:85px;
  }
  .ui-block.range > .tab:nth-of-type(3) {
    left:160px;
  }
  .ui-block.range > .tab:nth-of-type(4) {
    left:235px;
  }
  /*
  .bio img {
    display:block;
    margin:0 auto 20px;
    float:none;
  }
    .bio .text {
      overflow:visible;
      float:none;
      width:100%;
    }
    */
}